.containerArticleMedia  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 2px solid black;

    margin-left: 180px;
    padding-top: 45px;   
}
@media ( min-width: 375px) and (max-width: 768px) {
    .containerArticleMedia {
        margin-left: 90px;
        padding-top: 20px;
    }
}

.wrapperPostMedia {
    margin-bottom: 60px;
    min-width: 230px;
}
@media ( min-width: 375px) and (max-width: 768px) {
    .wrapperPostMedia {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}




/* _____MOBILE______ */
@media ( min-width: 375px) and (max-width: 768px) {

    .wrapperPostMedia {
        margin-top: 35px;
        margin-bottom: 20px;
        max-width: 230px;

    }
}