
.header {
    display: inline-flex;
    margin-top: 120px;
    margin-bottom: 150px;
}
@media ( min-width: 375px) and (max-width: 768px) {
    .header {
        margin: 0;
    }
}

@media ( min-width: 375px) and (max-width: 768px) {
    .logoWrapper {
        width: auto;
    }
}

.b3d {
    z-index: -1;
    position: absolute;
    left: 35%;
    width: 50%;
    top: -120px;
}

.min {
    overflow: hidden;
    top: -1%;
    left: 50%;
    position: absolute;
}

.headerTitle {

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 190px;
}
@media (min-width: 375px) and (max-width: 768px) {
    .headerTitle {
        margin-top: 55px;
        margin-bottom: 10px;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 42px;
    }
}


.headerLink {
    position: absolute;
    padding: 20px 30px;
    top: 0;
    right: 0;
    text-decoration: none;
    color: black;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
@media ( min-width: 375px) and (max-width: 768px) {
    .headerLink {
        width: 100%;
        top: 25px;
        left: -3px;
    }
}

.headerink > sup {
    padding-left: 13px;
}

@media ( min-width: 375px) and (max-width: 768px) {
    .flexContainer {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .b3d {
        top: -2%;
        width: 190px;
        height: 240px;
    }

    .min {
        top: 20px;
        left: auto;
        width: 40px;
        height: 25px;
    } 
    

}

