/* _____MOBILE______ */

.containerSlider section {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 3px #cccccc;
  }

  @media (max-width: 768px) {
    section {
      min-width: 230px;
    }
  }
  @media (min-width: 770px) and (max-width: 1300px){
    section {
      min-width: 900px;
    }
  }
    
  .slider {
    margin-bottom: 35px;
  }
  @media (max-width: 768px) {
    .slider {
      min-width: 230px; 
    }
  }
  @media (min-width: 770px) and (max-width: 1300px){
    .slider {
      min-width: 900px;
    }
  }

  .slider-slides img {
    float: left;
    width: 1010px;
    height: 550px;
  }
  @media (max-width: 768px) {
    .slider-slides img {
      width: 230px;
      height: 140px;
    }
  }
  @media (min-width: 770px) and (max-width: 1300px){
    .slider-slides img {
      width: 900px;
      height: 500px;
    }
  }

  .slider input[type="radio"] {
    display: none;
  }
  
  .slider-inner {
    overflow: hidden;
  }
  
  .slider-slides {
    width: 400%;
    transition: transform 0.3s ease;
  }
  
  .slider-controls {
      margin-top: 20px;
      display: flex;
      align-items: center;
  }

  .slider-control {
    width: 40px;
    height: 5px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .slider-control__active {
    background: #000;
  }